blinker
click
colorama
filelock
Flask
flask-cors
fsspec
graphviz
itsdangerous
Jinja2
MarkupSafe
mpmath
networkx
numpy
pillow
setuptools
sympy
torch
torchaudio
torchvision
typing_extensions
Werkzeug
wheel
