@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* style of the main component of the page */
#root {
  display: block;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}

body.saving {
  pointer-events: none;
  filter: brightness(0.95);
}

.saving-spinner {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  isolation: isolate;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(12, 104, 225, 0.8);
  border-top: 4px solid #fff;
  border-radius: 50%;
  opacity: 1.0;
  z-index: 9999;
  pointer-events: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* Hide scrollbar for IE & Edge */
.scrollbar-hide {
  -ms-overflow-style: none;
}

.text-shadow {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
